.bg{
	background: #a1cee5;
	position: relative;
}
.img1{
	width: 100%;
	height: 730px;
	margin-top: 20px;
	background: url(../images/img1.jpg) no-repeat center;
}
.img2{
	width: 100%;
	height: 730px;
	background: url(../images/img2.jpg) no-repeat center;
}
.img3 .img_box {
	margin: 65px 25px 0 0;
	float: left;
	width: 468px;
	height: 450px;
}
.img3 .img_box img{
	width: 468px;
	height: 450px;
	border-radius: 5px;
}
.img3 .form{
	color:#fff;
	font-size: 30px;
	float: left;
	width: 660px;
	height: 550px;
	margin: 65px 0 0 25px;
}
.form ul{
	height: 550px;
}
.form ul li{
	font-size: 28px;
	text-align: center;
	line-height: 80px;
	float: left;
	width: 230px;
	height: 80px;
	border: 1px solid #fff;
}
.form ul li select{
	color:#fff;
	border-style: none;
	
	background: #A1CEE5;
}
.form ul li input{
	background: #A1CEE5;
}
.form ul li:nth-of-type(1){
	letter-spacing:20px;
}
.form ul li:nth-of-type(2),.form ul li:nth-of-type(4),.form ul li:nth-of-type(6){
    width: 426px;
	border: 1px solid #fff;
}
.form p{
	float: left;
    width: 658px;;
	height: 202px;
	border: 1px solid #fff;
	position: relative;
}
.form p input:nth-of-type(1){
	padding: 30px 0 0 30px;
	font-size: 25px;
	background: #a1cee5;
    width: 90%;
}

input::-webkit-input-placeholder{ /*WebKit browsers*/

color: #fff;

}

input::-moz-input-placeholder{ /*Mozilla Firefox*/

color: #fff;

}

input::-ms-input-placeholder{ /*Internet Explorer*/ 

color: #fff;

}
.form p input:nth-of-type(2){
	border-radius:3px ;
	padding: 2px 8px ;
	font-size: 18px;
	background: #fff;
	color: #2486B5;
	position: absolute;
	bottom:30px;
	right: 50px;
}
.sanjiao{
	width: 0;
	height: 0;
	border-top: 30px solid #fff;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 30px solid transparent;
	position: relative;
	bottom: 0;
	left: 550px;
}

